			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-4">
									<div class="footer-content">
										<div class="logo-footer"><img id="logo-footer" src="/images/Lachesis_150x50.png" alt=""></div>
										<div class="separator-2"></div>
										<nav>
											<ul class="nav nav-pills nav-stacked">
												<li><a href="mailto:{{ site.data.global.email }}">Contact Us</a></li>
												<!--
												<li><a href="#">Privacy</a></li>
												<li><a href="#">Terms</a></li>
												<li><a href="/about/">About</a></li>
												-->
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-md-4">
									<div class="footer-content">
										<h2 class="title">Latest Posts</h2>
										<div class="separator-2"></div>
										{% for post in site.posts offset: 0 limit: 4  %}
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													{% if post.featured_image %}
													<img class="media-object" src="{{ post.featured_image }}" alt="blog-thumb">
													{% else if post.author %}
													{% assign team_member = site.data.team | where: "name", post.author %}
													{% assign author = team_member[0] %}
													  {% if author.profileImage %}
													<img class="media-object" src="{{ author.profileImage }}" alt="blog-thumb">
													  {% else %}
													<img class="media-object" src="/images/blog-thumb-1.jpg" alt="blog-thumb">
													  {% endif %}												  											
													{% else %}
													<img class="media-object" src="/images/blog-thumb-1.jpg" alt="blog-thumb">
													{% endif %}
													<a href="{{ post.url }}" class="overlay-link small"><i class="fa fa-link"></i></a>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="{{ post.url }}">{{post.title}}</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>{% include post-date-format.html %}</p>
											</div>
											<hr>
										</div>
										{% endfor %}
										<div class="text-right space-top">
											<a href="/posts" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="footer-content">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<p>We're extremely active on linked in and would love to connect with you.</p>
										<ul class="social-links circle animated-effect-1">
											<li class="linkedin"><a target="_blank" href="{{ site.data.global.linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-map-marker pr-10 text-default"></i>{{ site.data.global.address }}</li>
											<li><i class="fa fa-phone pr-10 text-default"></i> {{ site.data.global.phone }}</li>
											<li><a href="mailto:{{ site.data.global.email }}"><i class="fa fa-envelope-o pr-10"></i>{{ site.data.global.email }}</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">{{ site.data.global.footer_text }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
		<!-- Modernizr javascript -->
		<script type="text/javascript" src="/plugins/modernizr.js"></script>
		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<!-- Isotope javascript -->
		<script type="text/javascript" src="/plugins/isotope/isotope.pkgd.min.js"></script>
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Appear javascript -->
		<script type="text/javascript" src="/plugins/waypoints/jquery.waypoints.min.js"></script>
		<!-- Count To javascript -->
		<script type="text/javascript" src="/plugins/jquery.countTo.js"></script>
		<!-- Parallax javascript -->
		<script src="/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- Contact form -->
		<script src="/plugins/jquery.validate.js"></script>
		<!-- Background Video -->
		<script src="/plugins/vide/jquery.vide.js"></script>
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.js"></script>
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="/plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="/plugins/SmoothScroll.js"></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/js/template.js"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src="/js/custom.js"></script>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-83416108-1', 'auto');
		ga('send', 'pageview');

		</script>
	</body>
</html>
