{% include header.html %}

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">{{ page.title }}</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->

                            {{ content }}

						</div>
						<!-- main end -->

					</div>
				</div>

			</section>
			<!-- main-container end -->


{% include footer.html %}